#selectedcolor {
	border:1px solid #e3e3e3;
	width:80%;
	height:300px;
	margin:auto;
}
#divpreview {
	border:1px solid #e3e3e3;
	width:80px;
	height:20px;
	margin:auto;
	visibility:hidden;
}
.colorTable, #colorhexDIV, #colorrgbDIV, #colornamDIV {
	font-family:Consolas, 'Courier New', Courier, monospace;
}
#colorhexDIV, #colorrgbDIV, #colornamDIV {
	font-size:18px;
}
#wronginputDIV {
    text-align:left;
    position:absolute;
    margin:4px 10px;
    color:#a94442;
    display:none;
}
.has-error input{
    border:1px solid red;
}
#entercolorDIV input,#entercolorDIV button{
	height:28px;
}
#entercolorDIV input{
	width:80%;
	border:1px solid #d3d3d3;
	border-right:none;
}