body{
	color: #00FF00;
	margin: 0 auto;
	position: relative;
	text-align: center;
	background-color: #005500;
	background-attachment: fixed;
}

@font-face {
	font-family: 'Realpolitik';
	src:url('font/Realpolitik.ttf.woff') format('woff'),
	url('font/Realpolitik.ttf.svg#Realpolitik') format('svg'),
	url('font/Realpolitik.ttf.eot'),
	url('font/Realpolitik.ttf.eot?#iefix') format('embedded-opentype'); 
	font-weight: normal;
	font-style: normal;
}

#tagline {
    font-size: 200%;
}

/*MENU*/

.main_menu_container{
	float:left;
	width:100%;
	height: 3em;
	background:#fff;
	overflow:hidden;
	position:relative;
	background-color: rgba(0, 255, 0, .4);
}

#main_menu {
	font-size: 130%;
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding-top: 0.6em;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	position: relative;
	left: 50%;
	text-align: center;
}

#main_menu li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding-right: 1.25em; /*HEY, HOW'S IT GOING?*/
	position:relative;
	right:50%;
}

#main_menu li a {
	text-decoration: none;
	float: left;
	color: #003c00;
}

#main_menu li a:hover {
	color: #00FF00;
}

#main_menu .active {
	color: #00FF00;
}