body{
	background:#000000;
}
div.paragraph{
	color:#0BF416;
}
div.main{
	width:50%;
	margin:auto;
}
div.TextToSave{
	float:left;
	margin:0;
	padding-right:100%;
}
div.FilenameToSaveAs{
	margin-left:0%;
	page-break-after:;
	}
div.SelectAFileToLoad{
	margin-left:0;
	page-break-after:;
	}
}
div.LoadSelectedFile{
	float:left;
}